@import "compass/css3"
@import "_variables.sass"
@import "_mixin.sass"
*, *::before, *::after
  box-sizing: border-box
  padding: 0
  margin: 0

section
  +wh(100%, 900px)
  background: rgba(#F39EB2, 0.2)
  display: flex
  justify-content: flex-start
  align-items: center
  flex-direction: column
nav
  +wh(100%, 70px)
  background: rgba(0,0,0,.2)

@keyframes time
  0%
    opacity: 0.5
  100%
    opacity: 1

.page_bg
  background-image: radial-gradient(circle at 50% 50%, #f39eb2, #ffbeba)
.hero_title
  height: 152px
  font-size: 4.75em
  letter-spacing: 3.3px
  color: white
  max-width: 555px
  margin: 0 auto
  text-shadow: 0px 0 10px white
  font-family: '.SFNSDisplay'
  position: relative
  margin-top: 95px
  &::after
    content: 'Love Mummy'
    width: 193px
    font-size: 34px
    letter-spacing: 1.5px
    opacity: .75
    text-align: center
    line-height: 42px
    position: absolute
    text-shadow: none
    left: 180px
    top: -33px
.during
  +wh(199px, 108px)
  display: flex
  justify-content: space-around
  flex-direction: row
  position: relative
  top: -28px
  .during_item
    +wh(76px, 108px)
    opacity: 0.5
    &.from
      opacity: 0.5
      background: url(../../asset/601.png) no-repeat
      animation: time 1.5s infinite
    &.to
      background: url(../../asset/731.png) no-repeat
      animation: time 1.5s .9s infinite
  .right_arrow
    width: 15.9px
    opacity: 0.5
    background: url(../../asset/right.png) no-repeat
    background-position: center 48px
    animation: time 1.5s .6s infinite
.hero_product
  +wh(719px, 149px)
  display: flex
  justify-content: space-around
  flex-direction: row
  .hero_product_item
    width: 111px
    cursor: pointer
  .milk
    background: url(../../asset/milk-icon-btn.png) no-repeat
    background-size: 86px 135px
    background-position: left center
  .acid
    background: url(../../asset/acid-icon-btn.png) no-repeat
    background-size: 110px 109px
    background-position: center center
  .moisturizer
    background: url(../../asset/moisturizer-icon-btn.png) no-repeat
    background-size: 56px 122px
    background-position: center center
  .zen
    background: url(../../asset/zen-icon-btn.png) no-repeat
    background-size: 82px 126px
    background-position: center center
  .sandalwood
    background: url(../../asset/sandalwood-icon-btn.png) no-repeat
    background-size: 89px 110px
    background-position: center center
    position: relative
    &::after
      content: url(../../asset/hero_icon_text.png)
      position: absolute
      top: -17px
      right: -28px
      opacity: 0
      transition: top 1s ease
    &:hover::after
      opacity: 1
      top: -35px

.hero_des
  margin-top: 24px
  text-align: center
  font-size: 20px
  letter-spacing: 0.6px
  color: white
.rigester
  +wh(200px, 56px)
  border-radius: 100px
  border: 1px solid white
  margin-top: 50px
  font-size: 18px
  letter-spacing: 0.5px
  color: white
  line-height: 27px
.next_page
  +wh(50px, 50px)
  border-radius: 50%
  border: 1px solid white
  color: white
  margin-top: 62px
  &::after
    content: url(../../asset/down.png)
    +wh(18px, 18px)
