@import "compass/css3"
@import "_variables.sass"
@import "_mixin.sass"
@import "https://fonts.googleapis.com/css?family=Pinyon+Script"
@import "https://fonts.googleapis.com/css?family=Noto+Sans"
*, *::before, *::after
  box-sizing: border-box
  padding: 0
  margin: 0

section
  width: 100%
  background: rgba(#F39EB2, 0.2)
  display: flex
  justify-content: flex-start
  align-items: center
  flex-direction: column
nav
  +wh(100%, 70px)
  background: rgba(0,0,0,.2)
  @media screen and (max-width: 375px)
    height: 44px

@keyframes time
  0%
    opacity: 0.5
  100%
    opacity: 1

@keyframes bounce
  0%, 20%, 50%, 80%, 100%
    transform: translateY(0)
  40%
    transform: translateY(-30px)
  60%
    transform: translateY(-15px)

@keyframes bottom_down
  0%
    transform: skewY(0)
  50%
    transform: rotate(315deg) translateY(-30px) translateX(-30px)
  100%
    transform: rotate(270deg) translateY(-60px) translateX(-30px)

@keyframes bubble_show
  0%
    opacity: 0
  100%
    opacity: 1

.page_bg
  background-image: radial-gradient(circle at 50% 50%, #f39eb2, #ffbeba)
.default_height
  height: 900px
.hero
  height: 900px
  @media screen and (max-width: 375px)
    height: 560px
  .hero_title
    +wh(556px, 112px)
    font-size: 4.75em
    letter-spacing: 3.3px
    color: white
    margin: 0 auto
    text-shadow: 0px 0 8px white
    font-family: 'NotoSansCJKtc-Medium'
    font-weight: 500
    text-align: center
    position: relative
    margin-top: 95px
    @media screen and (max-width: 375px)
      // width: 90%
      +wh(338px, 68px)
      font-size: 46px
      letter-spacing: 2px
      margin-top: 63px
    &::after
      content: 'Love Mummy'
      +wh(193px, 42px)
      font-family: 'PinyonScript'
      font-size: 34px
      letter-spacing: 1.5px
      opacity: .75
      text-align: center
      position: absolute
      text-shadow: none
      left: 180px
      top: -33px
      @media screen and (max-width: 375px)
        +wh(136px, 30px)
        font-size: 24px
        letter-spacing: 1.05px
        left: 104px
        top: -30px
  .during
    +wh(199px, 108px)
    display: flex
    justify-content: space-around
    flex-direction: row
    margin-top: 12px
    @media screen and (max-width: 375px)
      +wh(152px, 82px)
      margin-top: 6px
    .during_item
      +wh(76px, 100%)
      opacity: 0.5
      @media screen and (max-width: 375px)
        width: 58px
      &.from
        opacity: 0.5
        background: url(../../asset/601.png) no-repeat
        animation: time 1.5s infinite
        background-size: 100% 100%
      &.to
        background: url(../../asset/731.png) no-repeat
        animation: time 1.5s .9s infinite
        background-size: 100% 100%
    .right_arrow
      width: 15.9px
      opacity: 0.5
      background: url(../../asset/right.png) no-repeat
      background-position: center 48px
      animation: time 1.5s .6s infinite
      @media screen and (max-width: 375px)
        width: 12px
        background-size: 12px 22px
        background-position: center 40px
  .hero_product
    +wh(719px, 149px)
    display: flex
    justify-content: space-around
    flex-direction: row
    margin-top: 52px
    @media screen and (max-width: 375px)
      +wh(348px, 73px)
      margin-top: 19px
    .hero_product_item
      width: 111px
      cursor: pointer
      @media screen and (max-width: 375px)
        width: 54px
    .milk
      background: url(../../asset/milk-icon-btn.png) no-repeat
      background-size: 86px 135px
      background-position: left center
      @media screen and (max-width: 375px)
        background-size: 42px 66px
    .acid
      background: url(../../asset/acid-icon-btn.png) no-repeat
      background-size: 110px 109px
      background-position: center center
      @media screen and (max-width: 375px)
        background-size: 54px
        background-position: center bottom
    .moisturizer
      background: url(../../asset/moisturizer-icon-btn.png) no-repeat
      background-size: 56px 122px
      background-position: center center
      @media screen and (max-width: 375px)
        background-size: 35px 72px
    .zen
      background: url(../../asset/zen-icon-btn.png) no-repeat
      background-size: 82px 126px
      background-position: center center
      @media screen and (max-width: 375px)
        background-size: 40px 62px
        background-position: center bottom
    .sandalwood
      background: url(../../asset/sandalwood-icon-btn.png) no-repeat
      background-size: 89px 110px
      background-position: center center
      position: relative
      @media screen and (max-width: 375px)
        background-size: 43px 54px
        background-position: center bottom
      &::after
        content: url(../../asset/hero_icon_text.png)
        position: absolute
        top: -17px
        right: -28px
        opacity: 0
        @media screen and (max-width: 375px)
          display: none
      &:hover::after
        opacity: 1
        animation: bounce 2s ease

  .hero_des
    font-family: 'NotoSansCJKtc'
    margin-top: 24px
    text-align: center
    font-size: 20px
    letter-spacing: 0.6px
    color: white
    @media screen and (max-width: 375px)
      font-size: 14px
      padding: 0 25px 0 24px
      margin-top: 22px
  .rigester
    +wh(200px, 56px)
    border-radius: 100px
    border: 1px solid white
    margin-top: 50px
    font-size: 18px
    letter-spacing: 0.5px
    color: white
    line-height: 27px
    @media screen and (max-width: 375px)
      +wh(180px, 36px)
      margin-top: 28px
      font-size: 14px
  .next_page
    +wh(50px, 50px)
    background: url(../../asset/next_page.png) no-repeat
    background-size: 50px 50px
    margin-top: 62px
    @media screen and (max-width: 375px)
      +wh(36px, 36px)
      margin-top: 22px
      background-size: 36px 36px
.about
  height: 1732px
  @media screen and (max-width: 375px)
    height: 714px
  .grid
    // width: 74%
    width: 1062px
    max-width: 1062px
    border-radius: 10px
    @media screen and (max-width: 375px)
      width: 348px
    &:nth-of-type(1)
      margin: 78px 0 22px
      @media screen and (max-width: 375px)
        margin: 18px 0 12px
    &:nth-of-type(2),&:nth-of-type(3)
      margin-bottom: 10px
    &:nth-of-type(4)
      margin-bottom: 20px
    &.two_grid, &.date
      background-image: radial-gradient(circle at 50% 50%, #f39eb2, #ffbeba)
    &.two_grid
      display: flex
      flex-direction: column
      &.method
        height: 222px
        @media screen and (max-width: 375px)
          height: 125px
        .method_title
          height: 31%
        .method_des
          height: calc(66% - 3px)
          @media screen and (max-width: 375px)
            height: calc(69% - 3px)
      &.date
        height: 294px
        @media screen and (max-width: 375px)
          height: 190px
        .method_title
          height: 26%
          @media screen and (max-width: 375px)
            height: 21%
        .method_des
          height: calc(74% - 3px)
          @media screen and (max-width: 375px)
            height: calc(79% - 4px)
      .method_title
        color: white
        font-size: 38px
        letter-spacing: 0.78px
        padding: 14px 45px 6px 34px
        @media screen and (max-width: 375px)
          font-size: 16px
          padding: 9px 20px 6px 14px
        span
          float: right
      .method_des
        font-family: 'NotoSansCJKtc'
        background: white
        width: calc(100% - 6px)
        margin: 0 auto
        border-radius: 10px
        color: black
        line-height: 1.54
        letter-spacing: 0.37px
        display: flex
        align-items: center
        justify-content: flex-start
        padding: 0 29px 0 34px
        flex-direction: row
        @media screen and (max-width: 375px)
          font-size: 12px
          padding: 14px 13px 0 11px
        .date_group
          +wh(978px, 166px)
          display: flex
          flex-direction: column
          justify-content: center
          align-items: flex-start
          line-height: 37px
          @media screen and (max-width: 375px)
            height: 100%
            line-height: 18px
          &.left
            width: 584px
            @media screen and (max-width: 375px)
              width: 148px
          &.right
            width: 267px
            margin-left: 127px
            @media screen and (max-width: 375px)
              width: 148px
              height: 80px
              margin: 22px 0 0 2px
          .date_item
            height: 74px
            // line-height: 37px
            display: flex
            flex-direction: row
            font-size: 24px
            display: flex
            flex-direction: column
            @media screen and (max-width: 375px)
              height: 36px
              font-size: 12px
              &.full_width
                width: 318px
                display: block

            & p
              font-size: 28px
              @media screen and (max-width: 375px)
                font-size: 12px
          .gap
            margin-top: 18px
          .date_item_group
            display: flex
            flex-direction: row
            margin-top: 18px
            @media screen and (max-width: 375px)
              flex-direction: column
              margin-top: 8px
            .date_item_group_item
              width: 214px
              height: 74px
              font-size: 24px
              display: flex
              flex-direction: column
              @media screen and (max-width: 375px)
                font-size: 12px
    &.gift
      height: 332px
      display: flex
      align-items: center
      flex-direction: row
      @media screen and (max-width: 375px)
        height: 108px
      &.gift1
        background: url(../../asset/gift1_bg.png) 40px center, linear-gradient(253deg, #ffbb00, #c28e00)
        background-repeat: no-repeat
      &.gift2
        background: url(../../asset/gift2_bg.png) 40px center, radial-gradient(circle at 50% 50%, #f39eb2, #ffbeba)
        background-repeat: no-repeat
      &.gift3
        background: url(../../asset/gift3_bg.png) 40px center, radial-gradient(circle at 50% 50%, #f39eb2, #ffbeba)
        background-repeat: no-repeat
      .gift_name
        +wh(630px, 180px)
        border-radius: 10px
        border: solid 2px white
        border-left: none
        border-top-left-radius: 0
        border-bottom-left-radius: 0
        display: flex
        flex-direction: row
        justify-content: space-around
        color: white
        text-align: center
        align-items: center
        @media screen and (max-width: 375px)
          +wh(218px, 60px)
        .left
          font-size: 50px
          +wh(139px, 108px)
          @media screen and (max-width: 375px)
            font-size: 20px
            +wh(46px, 45px)
          & p
            font-size: 24px
            @media screen and (max-width: 375px)
              font-size: 11px
        .border
          +wh(2px, 115px)
          border-left: 2px solid white
          @media screen and (max-width: 375px)
            +wh(1px, 37px)
        .right
          font-size: 32px
          @media screen and (max-width: 375px)
            font-size: 12px
          &.washer
            font-size: 27px
            @media screen and (max-width: 375px)
              font-size: 10px
          &.dozs
            font-size: 24px
            @media screen and (max-width: 375px)
              font-size: 10px
      .gift_img
        &.money
          +wh(372px, 269px)
          margin-left: 33px
          @media screen and (max-width: 375px)
            +wh(121px, 88px)
            margin-left: 11px
        &.washer
          +wh(292px, 268px)
          margin-left: 97px
          @media screen and (max-width: 375px)
            +wh(102px, 88px)
            margin-left: 28px
        &.dazs
          +wh(359px, 255px)
          margin-left: 45px
          @media screen and (max-width: 375px)
            +wh(123px, 88px)
            margin-left: 12px

.section_title
  +wh(392px, 59px)
  font-size: 40px
  text-align: center
  letter-spacing: 1.2px
  @media screen and (max-width: 375px)
    +wh(185px, 29px)
    font-size: 20px
  &::before, &::after
    content: ""
    +wh(73px, 59px)
    background-size: 73px 26px
    display: inline-block
    background-position: center bottom
    @media screen and (max-width: 375px)
      +wh(40px, 14px)

.notice
  @media screen and (max-width: 375px)
    height: 450px
  &_title
    color: white
    margin-top: 86px
    @media screen and (max-width: 375px)
      margin-top: 24px
    &::before
      background: url(../../asset/cloud_left.png) no-repeat
      margin-right: 40.5px
      background-position: center bottom
      @media screen and (max-width: 375px)
        margin-right: 10px
        background-size: 40px 14px
    &::after
      background: url(../../asset/cloud_right.png) no-repeat
      margin-left: 40.5px
      background-position: center bottom
      @media screen and (max-width: 375px)
        margin-left: 10px
        background-size: 40px 14px
  &_content
    +wh(1111px, 369px)
    margin-top: 100px
    color: white
    font-size: 28px
    letter-spacing: 1.4px
    line-height: 41px
    display: flex
    flex-direction: column
    @media screen and (max-width: 375px)
      +wh(340px, 198px)
      font-size: 12px
      line-height: 18px
      letter-spacing: .6px
      margin-top: 35px
    .content_group
      display: flex
      flex-direction: row
      align-items: flex-start
      .dot
        +wh(15px, 40px)
        background: url(../../asset/dot.png) no-repeat
        background-size: 15px 15px
        background-position: center center
        @media screen and (max-width: 375px)
          +wh(9.8px, 18px)
          background-size: 9.8px 10px
      .line
        width: calc(100% - 31px)
        padding-left: 16px
        padding-bottom: 41px
        @media screen and (max-width: 375px)
          padding-left: 12.74px
        &:last-child
          padding-bottom: none
  &_animation
    +wh(716px, 199px)
    background: url(../../asset/notice_animat_bg.png) no-repeat
    background-size: 438px 199px
    background-position: right center
    position: relative
    left: 155px
    top: 47px
    @media screen and (max-width: 375px)
      +wh(347px, 100px)
      background-size: 220px 100px
      left: 0
      top: 0
      margin-top: 40px
    .animation_group
      +wh(284px, 124px)
      position: absolute
      left: 0
      bottom: 25px
      @media screen and (max-width: 375px)
        +wh(129px, 27px)
      .bottom
        position: absolute
        right: 0
        animation: bottom_down 2.5s infinite
        @media screen and (max-width: 375px)
          +wh(20px, 56px)
          animation: none
          transform: rotate(270deg)
          right: 18px
          top: -5px
      .bubble
        position: absolute
        bottom: 0
        opacity: 0
        animation: bubble_show 2s 2s infinite
        @media screen and (max-width: 375px)
          +wh(76px, 17px)
          animation: none
          opacity: 1
          bottom: -13px
.register
  height: 834px
  background: url(../../asset/register_bg.png) no-repeat
  background-size: cover
  @media screen and (max-width: 375px)
    height: 560px
  &_title
    color: black
    margin-top: 79px
    @media screen and (max-width: 375px)
      margin-top: 24px
    &::before
      background: url(../../asset/p_cloud_left.png) no-repeat
      margin-right: 41px
      background-position: center bottom
      @media screen and (max-width: 375px)
        margin-right: 10px
        background-size: 40px 14px
    &::after
      background: url(../../asset/p_cloud_right.png) no-repeat
      margin-left: 40px
      background-position: center bottom
      @media screen and (max-width: 375px)
        margin-left: 10px
        background-size: 40px 14px
  &_content
    +wh(847px, 565px)
    margin-top: 62px
    position: relative
    @media screen and (max-width: 375px)
      +wh(331px, 316px)
      margin-top: 52px
    .receipt_title
      height: 48px
      line-height: 48px
      font-size: 20px
      color: #4A4A4A
      letter-spacing: 0.6px
      @media screen and (max-width: 375px)
        font-size: 16px
        width: 72px
        height: 24px
        line-height: 24px
        text-align: center
    .receipt
      +wh(829px, 175px)
      margin: 0 auto
      display: flex
      flex-direction: row
      @media screen and (max-width: 375px)
        +wh(100%, 73px)
      .receipt_input_group
        display: flex
        flex-direction: column
        margin-left: 25px
        margin-left: 8px
        @media screen and (max-width: 375px)
          justify-content: space-around
        .receipt_input
          +wh(631px, 48px)
          border-radius: 100px
          border: 1px solid #F39EB2
          margin-bottom: 32px
          color: #9B9B9B
          font-size: 18px
          text-align: center
          @media screen and (max-width: 375px)
            +wh(209px, 32px)
            margin-bottom: 0
            font-size: 12px
          &:first-child
            margin-top: 0
    .add_receipt
      +wh(48px, 48px)
      background: url(../../asset/add_receipt.png) no-repeat
      background-size: 48px 48px
      position: absolute
      right: 0
      top: 80px
      @media screen and (max-width: 375px)
        +wh(32px, 33px)
        background-size: 32px 33px
        top: 40px
    .check
      +wh(721px, 21px)
      font-size: 14px
      color: #4A4A4A
      margin-left: 117px
      @media screen and (max-width: 375px)
        +wh(289px, 46px)
        font-size: 10px
        margin-left: 25px
        margin-top: 16px
        line-height: 15px
        letter-spacing: 0.3px
    .border
      +wh(829px, 2px)
      border: 2px solid #F39EB2
      margin: 30px 0 36px
      @media screen and (max-width: 375px)
        width: 331px
        margin: 16px 0 24px
    .info
      +wh(829px, 165px)
      margin: 0 auto
      display: flex
      flex-direction: row
      flex-wrap: wrap
      @media screen and (max-width: 375px)
        +wh(331px, 116px)
      .info_group
        display: flex
        flex-direction: row
        &.name
          +wh(361px, 48px)
          @media screen and (max-width: 375px)
            +wh(100%, 32px)
            margin-bottom: 10px
        &.phone
          +wh(441px, 48px)
          margin-left: 25px
          @media screen and (max-width: 375px)
            +wh(100%, 32px)
            margin: 0 0 10px 0
        &.email
          +wh(846px, 48px)
          @media screen and (max-width: 375px)
            +wh(100%, 32px)
            margin-bottom: 10px
        .info_input
          border-radius: 100px
          border: 1px solid #F39EB2
          color: #9B9B9B
          font-size: 18px
          text-align: center
          @media screen and (max-width: 375px)
            font-size: 12px
          &.name
            margin-left: 25px
            width: 253px
            @media screen and (max-width: 375px)
              width: 251px
              margin-left: 8px
          &.phone
            margin-left: 40px
            width: 359px
            @media screen and (max-width: 375px)
              width: 251px
              margin-left: 8px
          &.email
            margin-left: 37px
            width: 738px
            @media screen and (max-width: 375px)
              width: 251px
              margin-left: 8px
    .send_register
      +wh(200px, 56px)
      border-radius: 65px
      background: #F39EB2
      border: 1px solid #F39EB2
      color: white
      font-size: 18px
      margin: 100px auto 0
      display: flex
      justify-content: center
      @media screen and (max-width: 375px)
        +wh(181px, 36px)
        margin-top: 40px
        font-size: 14px
input[type="checkbox"]
  +wh(20px, 20px)
  border-radius: 2px
  background: #34495E
  box-sizing: content-box
  position: relative

.sale
  height: 474px
  background: url(../../asset/register_bg.png) no-repeat
  background-size: cover
  &_title
    margin-top: 80px
    @media screen and (max-width: 375px)
      margin-top: 24px
    &::before
      background: url(../../asset/p_cloud_left.png) no-repeat
      margin-right: 41px
      background-position: center bottom
      @media screen and (max-width: 375px)
        margin-right: 10px
        background-size: 40px 14px
    &::after
      background: url(../../asset/p_cloud_right.png) no-repeat
      margin-left: 40px
      background-position: center bottom
      @media screen and (max-width: 375px)
        margin-left: 10px
        background-size: 40px 14px
  &_content
    +wh(907px, 149px)
    background-size: 899px 136px
    background: url(../../asset/sale_logo.png) no-repeat
    margin-top: 80px
    @media screen and (max-width: 375px)
      +wh(298px, 345px)
      background: url(../../asset/m_sale_logo.png) no-repeat
      background-size: 298px 317px
      margin-top: 31px
footer
  height: 98px
  background: #4A4A4A
  display: flex
  flex-direction: row
  align-items: center
  justify-content: space-between
  padding: 0 80px 0 40px
  @media screen and (max-width: 375px)
    height: 300px
    flex-direction: column
    padding: 31px 10px 45px
  .logo
    +wh(102px, 40px)
    background: url(../../asset/logo.png) no-repeat
    background-size: 102px 40px
    @media screen and (max-width: 375px)
      order: 2
  .company
    +wh(588px, 47px)
    display: flex
    flex-direction: column
    justify-content: space-around
    @media screen and (max-width: 375px)
      width: 95%
      order: 2
    .company_name, .company_copyright
      text-align: center
      color: white
    .company_name
      font-size: 16px
      @media screen and (max-width: 375px)
        font-size: 14px
        line-height: 20px
        margin-bottom: 14px
    .company_copyright
      font-size: 14px
      @media screen and (max-width: 375px)
        font-size: 12px
        line-height: 18px
  .social
    +wh(103px, 44px)
    display: flex
    flex-direction: row
    &_icon
      +wh(44px, 44px)
      &.fb
        background: url(../../asset/facebook-icon.png) no-repeat
      &.mail
        background: url(../../asset/mail-icon.png) no-repeat
        margin-left: 15px
