@import "https://fonts.googleapis.com/css?family=Pinyon+Script";
@import "https://fonts.googleapis.com/css?family=Noto+Sans";
button {
  background: none;
  text-decoration: none;
  border: none;
  cursor: pointer;
}
button:focus {
  outline: none;
}

input:focus {
  outline: none;
}

*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

section {
  width: 100%;
  background: rgba(243, 158, 178, 0.2);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

nav {
  width: 100%;
  height: 70px;
  background: rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 375px) {
  nav {
    height: 44px;
  }
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
  border-radius: 2px;
  background: #34495E;
  box-sizing: content-box;
  position: relative;
}

.bubble {
  background: url(../../asset/bubble.png) no-repeat;
  position: absolute;
  z-index: 0;
}
.bubble.bubble141 {
  width: 141px;
  height: 142px;
  background-size: 141px 142px;
}
.bubble.bubble40 {
  width: 40px;
  height: 41px;
  background-size: 40px 41px;
}
.bubble.bubble52 {
  width: 52px;
  height: 53px;
  background-size: 52px 53px;
}
.bubble.bubble215 {
  width: 215px;
  height: 216px;
  background-size: 215px 216px;
}
.bubble.bubble161 {
  width: 161px;
  height: 162px;
  background-size: 161px 162px;
}
.bubble.bubble82 {
  width: 82px;
  height: 83px;
  background-size: 82px 83px;
}
.bubble.bubble21 {
  width: 21px;
  height: 23px;
  background-size: 21px 23px;
}
.bubble.bubble308 {
  width: 308px;
  height: 309px;
  background-size: 308px 309px;
}
.bubble.bubble91 {
  width: 91px;
  height: 91px;
  background-size: 91px 91px;
}
.bubble.bubble113 {
  width: 113px;
  height: 114px;
  background-size: 113px 114px;
}
.bubble.rotate165 {
  transform: rotate(-165deg);
}
.bubble.rotate291 {
  transform: rotate(-291deg);
}
.bubble.b01 {
  top: 0;
  left: 0;
  background: url(../../asset/b01.png) no-repeat;
  background-size: auto 142px;
}
.bubble.b02 {
  top: 70px;
  left: 422px;
}
.bubble.b03 {
  top: 70px;
  left: 1133px;
}
.bubble.b04 {
  top: 112px;
  right: 0;
  background: url(../../asset/b04.png) no-repeat;
  background-size: auto 216px;
  background-position: right;
}
.bubble.b05 {
  top: 354px;
  left: -109px;
}
.bubble.b06 {
  top: 376px;
  left: 219px;
}
.bubble.b07 {
  top: 377px;
  left: 565px;
}
.bubble.b08 {
  top: 335px;
  left: 1020px;
}
.bubble.b09 {
  top: 795px;
  left: 26px;
}
.bubble.b10 {
  top: 720px;
  left: 179px;
}
.bubble.b11 {
  top: 773px;
  left: 934px;
}
.bubble.b12 {
  top: 700px;
  right: 0;
}
.bubble.b13 {
  top: 200px;
  left: 73px;
}
.bubble.b14 {
  top: 700px;
  right: 65px;
}
.bubble.b15 {
  top: 795px;
  left: 26px;
}
.bubble.b16 {
  top: 816px;
  right: 84px;
}
.bubble.b17 {
  top: 987px;
  left: 134px;
}
.bubble.b18 {
  top: 1245px;
  left: 78px;
}
.bubble.b19 {
  top: 1301px;
  right: 72px;
}
.bubble.b20 {
  top: 1619px;
  left: -66px;
}
.bubble.b21 {
  top: 1687px;
  left: 334px;
}
.bubble.b22 {
  top: 1605px;
  right: 179px;
}
.bubble.b23 {
  top: 281px;
  left: 281px;
}
.bubble.b24 {
  top: 542px;
  left: 380px;
}
.bubble.b25 {
  top: 500px;
  left: 854px;
}
.bubble.b26 {
  top: 441px;
  right: 219px;
}
.bubble.b27 {
  background: url(../../asset/b27.png) no-repeat;
  background-size: auto 162px;
  background-position: right;
  top: 336px;
  right: 0;
}
.bubble.b28 {
  background: url(../../asset/b01.png) no-repeat;
  background-position: left;
  background-size: auto 216px;
  top: 572px;
  left: 0;
}
.bubble.b29 {
  top: 776px;
  left: 255px;
}
.bubble.b30 {
  background: url(../../asset/b27.png) no-repeat;
  background-size: auto 162px;
  background-position: right;
  right: 0;
  bottom: 0;
}

.section_title {
  width: 392px;
  height: 59px;
  font-size: 40px;
  text-align: center;
  letter-spacing: 1.2px;
}
@media screen and (max-width: 375px) {
  .section_title {
    width: 185px;
    height: 29px;
    font-size: 20px;
  }
}
.section_title::before, .section_title::after {
  content: "";
  width: 73px;
  height: 59px;
  background-size: 73px 26px;
  display: inline-block;
  background-position: center bottom;
}
@media screen and (max-width: 375px) {
  .section_title::before, .section_title::after {
    width: 40px;
    height: 14px;
  }
}

.grid {
  width: 1062px;
  max-width: 1062px;
  border-radius: 10px;
  z-index: 1;
}
@media screen and (max-width: 375px) {
  .grid {
    width: 348px;
  }
}
.grid.gift {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.grid.gift .gift_name {
  width: 630px;
  height: 180px;
  border-radius: 10px;
  border: solid 2px white;
  border-left: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: white;
  text-align: center;
  align-items: center;
}
@media screen and (max-width: 375px) {
  .grid.gift .gift_name {
    width: 218px;
    height: 60px;
  }
}
.grid.gift .gift_name .left {
  font-size: 50px;
  width: 139px;
  height: 108px;
}
@media screen and (max-width: 375px) {
  .grid.gift .gift_name .left {
    font-size: 20px;
    width: 46px;
    height: 45px;
  }
}
.grid.gift .gift_name .left p {
  font-size: 24px;
}
@media screen and (max-width: 375px) {
  .grid.gift .gift_name .left p {
    font-size: 11px;
  }
}
.grid.gift .gift_name .border {
  width: 2px;
  height: 115px;
  border-left: 2px solid white;
}
@media screen and (max-width: 375px) {
  .grid.gift .gift_name .border {
    width: 1px;
    height: 37px;
  }
}
.grid.gift .gift_name .right {
  font-size: 32px;
}
@media screen and (max-width: 375px) {
  .grid.gift .gift_name .right {
    font-size: 12px;
  }
}
.grid.gift .gift_name .right.washer {
  font-size: 27px;
}
@media screen and (max-width: 375px) {
  .grid.gift .gift_name .right.washer {
    font-size: 10px;
  }
}
.grid.gift .gift_name .right.dozs {
  font-size: 24px;
}
@media screen and (max-width: 375px) {
  .grid.gift .gift_name .right.dozs {
    font-size: 10px;
  }
}
.grid.gift .gift_img.money {
  width: 372px;
  height: 269px;
  margin-left: 33px;
}
@media screen and (max-width: 375px) {
  .grid.gift .gift_img.money {
    width: 121px;
    height: 88px;
    margin-left: 11px;
  }
}
.grid.gift .gift_img.washer {
  width: 292px;
  height: 268px;
  margin-left: 97px;
}
@media screen and (max-width: 375px) {
  .grid.gift .gift_img.washer {
    width: 102px;
    height: 88px;
    margin-left: 28px;
  }
}
.grid.gift .gift_img.dazs {
  width: 359px;
  height: 255px;
  margin-left: 45px;
}
@media screen and (max-width: 375px) {
  .grid.gift .gift_img.dazs {
    width: 123px;
    height: 88px;
    margin-left: 12px;
  }
}

@keyframes time {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
@keyframes bottom_down {
  0% {
    transform: skewY(0);
  }
  50% {
    transform: rotate(315deg) translateY(-30px) translateX(-30px);
  }
  100% {
    transform: rotate(270deg) translateY(-60px) translateX(-30px);
  }
}
@keyframes bubble_show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.page_bg {
  background-image: radial-gradient(circle at 50% 50%, #f39eb2, #ffbeba);
}

.default_height {
  height: 900px;
}

.hero {
  height: 900px;
  position: relative;
}
@media screen and (max-width: 375px) {
  .hero {
    height: 560px;
  }
}
.hero .hero_title {
  width: 556px;
  height: 112px;
  font-size: 4.75em;
  letter-spacing: 3.3px;
  color: white;
  margin: 0 auto;
  text-shadow: 0px 0 8px white;
  font-family: "NotoSansCJKtc-Medium";
  font-weight: 500;
  text-align: center;
  position: relative;
  margin-top: 95px;
}
@media screen and (max-width: 375px) {
  .hero .hero_title {
    width: 338px;
    height: 68px;
    font-size: 46px;
    letter-spacing: 2px;
    margin-top: 63px;
  }
}
.hero .hero_title::after {
  content: "Love Mummy";
  width: 193px;
  height: 42px;
  font-family: "PinyonScript";
  font-size: 34px;
  letter-spacing: 1.5px;
  opacity: 0.75;
  text-align: center;
  position: absolute;
  text-shadow: none;
  left: 180px;
  top: -33px;
}
@media screen and (max-width: 375px) {
  .hero .hero_title::after {
    width: 136px;
    height: 30px;
    font-size: 24px;
    letter-spacing: 1.05px;
    left: 104px;
    top: -30px;
  }
}
.hero .during {
  width: 199px;
  height: 108px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin-top: 12px;
}
@media screen and (max-width: 375px) {
  .hero .during {
    width: 152px;
    height: 82px;
    margin-top: 6px;
  }
}
.hero .during .during_item {
  width: 76px;
  height: 100%;
  opacity: 0.5;
}
@media screen and (max-width: 375px) {
  .hero .during .during_item {
    width: 58px;
  }
}
.hero .during .during_item.from {
  opacity: 0.5;
  background: url(../../asset/601.png) no-repeat;
  animation: time 1.5s infinite;
  background-size: 100% 100%;
}
.hero .during .during_item.to {
  background: url(../../asset/731.png) no-repeat;
  animation: time 1.5s 0.9s infinite;
  background-size: 100% 100%;
}
.hero .during .right_arrow {
  width: 15.9px;
  opacity: 0.5;
  background: url(../../asset/right.png) no-repeat;
  background-position: center 48px;
  background-size: 16px 29px;
  animation: time 1.5s 0.6s infinite;
}
@media screen and (max-width: 375px) {
  .hero .during .right_arrow {
    width: 12px;
    background-size: 12px 22px;
    background-position: center 40px;
  }
}
.hero .hero_product {
  width: 719px;
  height: 149px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin-top: 52px;
}
@media screen and (max-width: 375px) {
  .hero .hero_product {
    width: 348px;
    height: 73px;
    margin-top: 19px;
  }
}
.hero .hero_product .hero_product_item {
  width: 111px;
  cursor: pointer;
}
@media screen and (max-width: 375px) {
  .hero .hero_product .hero_product_item {
    width: 54px;
  }
}
.hero .hero_product .milk {
  background: url(../../asset/milk-icon-btn.png) no-repeat;
  background-size: 86px 135px;
  background-position: left center;
}
@media screen and (max-width: 375px) {
  .hero .hero_product .milk {
    background-size: 42px 66px;
  }
}
.hero .hero_product .acid {
  background: url(../../asset/acid-icon-btn.png) no-repeat;
  background-size: 110px 109px;
  background-position: center center;
}
@media screen and (max-width: 375px) {
  .hero .hero_product .acid {
    background-size: 54px;
    background-position: center bottom;
  }
}
.hero .hero_product .moisturizer {
  background: url(../../asset/moisturizer-icon-btn.png) no-repeat;
  background-size: 56px 122px;
  background-position: center center;
}
@media screen and (max-width: 375px) {
  .hero .hero_product .moisturizer {
    background-size: 35px 72px;
  }
}
.hero .hero_product .zen {
  background: url(../../asset/zen-icon-btn.png) no-repeat;
  background-size: 82px 126px;
  background-position: center center;
}
@media screen and (max-width: 375px) {
  .hero .hero_product .zen {
    background-size: 40px 62px;
    background-position: center bottom;
  }
}
.hero .hero_product .sandalwood {
  background: url(../../asset/sandalwood-icon-btn.png) no-repeat;
  background-size: 89px 110px;
  background-position: center center;
  position: relative;
}
@media screen and (max-width: 375px) {
  .hero .hero_product .sandalwood {
    background-size: 43px 54px;
    background-position: center bottom;
  }
}
.hero .hero_product .sandalwood::after {
  content: url(../../asset/hero_icon_text.png);
  position: absolute;
  top: -17px;
  right: -28px;
  opacity: 0;
}
@media screen and (max-width: 375px) {
  .hero .hero_product .sandalwood::after {
    display: none;
  }
}
.hero .hero_product .sandalwood:hover::after {
  opacity: 1;
  animation: bounce 2s ease;
}
.hero .hero_des {
  font-family: "NotoSansCJKtc";
  margin-top: 24px;
  text-align: center;
  font-size: 20px;
  letter-spacing: 0.6px;
  color: white;
}
@media screen and (max-width: 375px) {
  .hero .hero_des {
    font-size: 14px;
    padding: 0 25px 0 24px;
    margin-top: 22px;
  }
}
.hero .rigester {
  width: 200px;
  height: 56px;
  border-radius: 100px;
  border: 1px solid white;
  margin-top: 50px;
  font-size: 18px;
  letter-spacing: 0.5px;
  color: white;
  line-height: 27px;
}
@media screen and (max-width: 375px) {
  .hero .rigester {
    width: 180px;
    height: 36px;
    margin-top: 28px;
    font-size: 14px;
  }
}
.hero .next_page {
  width: 50px;
  height: 50px;
  background: url(../../asset/next_page.png) no-repeat;
  background-size: 50px 50px;
  margin-top: 62px;
}
@media screen and (max-width: 375px) {
  .hero .next_page {
    width: 36px;
    height: 36px;
    margin-top: 22px;
    background-size: 36px 36px;
  }
}

.about {
  height: 1732px;
  position: relative;
}
@media screen and (max-width: 375px) {
  .about {
    height: 714px;
  }
}
.about .grid:nth-of-type(1) {
  margin: 78px 0 22px;
}
@media screen and (max-width: 375px) {
  .about .grid:nth-of-type(1) {
    margin: 18px 0 12px;
  }
}
.about .grid:nth-of-type(2), .about .grid:nth-of-type(3) {
  margin-bottom: 10px;
}
.about .grid:nth-of-type(4) {
  margin-bottom: 20px;
}
.about .grid.two_grid, .about .grid.date {
  background-image: radial-gradient(circle at 50% 50%, #f39eb2, #ffbeba);
}
.about .grid.two_grid {
  display: flex;
  flex-direction: column;
}
.about .grid.two_grid.method {
  z-index: 1;
  height: 222px;
}
@media screen and (max-width: 375px) {
  .about .grid.two_grid.method {
    height: 125px;
  }
}
.about .grid.two_grid.method .method_title {
  height: 31%;
}
.about .grid.two_grid.method .method_des {
  height: calc(66% - 3px);
}
@media screen and (max-width: 375px) {
  .about .grid.two_grid.method .method_des {
    height: calc(69% - 3px);
  }
}
.about .grid.two_grid.date {
  height: 294px;
}
@media screen and (max-width: 375px) {
  .about .grid.two_grid.date {
    height: 190px;
  }
}
.about .grid.two_grid.date .method_title {
  height: 26%;
}
@media screen and (max-width: 375px) {
  .about .grid.two_grid.date .method_title {
    height: 21%;
  }
}
.about .grid.two_grid.date .method_des {
  height: calc(74% - 3px);
}
@media screen and (max-width: 375px) {
  .about .grid.two_grid.date .method_des {
    height: calc(79% - 4px);
  }
}
.about .grid.two_grid .method_title {
  color: white;
  font-size: 38px;
  letter-spacing: 0.78px;
  padding: 14px 45px 6px 34px;
}
@media screen and (max-width: 375px) {
  .about .grid.two_grid .method_title {
    font-size: 16px;
    padding: 9px 20px 6px 14px;
  }
}
.about .grid.two_grid .method_title span {
  float: right;
}
.about .grid.two_grid .method_des {
  font-family: "NotoSansCJKtc";
  background: white;
  width: calc(100% - 6px);
  margin: 0 auto;
  border-radius: 10px;
  color: black;
  line-height: 1.54;
  letter-spacing: 0.37px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 29px 0 34px;
  flex-direction: row;
}
@media screen and (max-width: 375px) {
  .about .grid.two_grid .method_des {
    font-size: 12px;
    padding: 14px 13px 0 11px;
  }
}
.about .grid.two_grid .method_des .date_group {
  width: 978px;
  height: 166px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  line-height: 37px;
}
@media screen and (max-width: 375px) {
  .about .grid.two_grid .method_des .date_group {
    height: 100%;
    line-height: 18px;
  }
}
.about .grid.two_grid .method_des .date_group.left {
  width: 584px;
}
@media screen and (max-width: 375px) {
  .about .grid.two_grid .method_des .date_group.left {
    width: 148px;
  }
}
.about .grid.two_grid .method_des .date_group.right {
  width: 267px;
  margin-left: 127px;
}
@media screen and (max-width: 375px) {
  .about .grid.two_grid .method_des .date_group.right {
    width: 148px;
    height: 80px;
    margin: 22px 0 0 2px;
  }
}
.about .grid.two_grid .method_des .date_group .date_item {
  height: 74px;
  display: flex;
  flex-direction: row;
  font-size: 24px;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 375px) {
  .about .grid.two_grid .method_des .date_group .date_item {
    height: 36px;
    font-size: 12px;
  }
  .about .grid.two_grid .method_des .date_group .date_item.full_width {
    width: 318px;
    display: block;
  }
}
.about .grid.two_grid .method_des .date_group .date_item p {
  font-size: 28px;
}
@media screen and (max-width: 375px) {
  .about .grid.two_grid .method_des .date_group .date_item p {
    font-size: 12px;
  }
}
.about .grid.two_grid .method_des .date_group .gap {
  margin-top: 18px;
}
.about .grid.two_grid .method_des .date_group .date_item_group {
  display: flex;
  flex-direction: row;
  margin-top: 18px;
}
@media screen and (max-width: 375px) {
  .about .grid.two_grid .method_des .date_group .date_item_group {
    flex-direction: column;
    margin-top: 8px;
  }
}
.about .grid.two_grid .method_des .date_group .date_item_group .date_item_group_item {
  width: 214px;
  height: 74px;
  font-size: 24px;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 375px) {
  .about .grid.two_grid .method_des .date_group .date_item_group .date_item_group_item {
    font-size: 12px;
  }
}
.about .grid.gift {
  height: 332px;
}
@media screen and (max-width: 375px) {
  .about .grid.gift {
    height: 108px;
  }
}
.about .grid.gift.gift1 {
  background: url(../../asset/gift1_bg.png) 40px center, radial-gradient(circle at 50% 50%, #f39eb2, #ffbeba);
  background-repeat: no-repeat;
}
.about .grid.gift.gift1:hover {
  background: url(../../asset/gift1_bg.png) 40px center, linear-gradient(253deg, #ffbb00, #c28e00);
  background-repeat: no-repeat;
}
.about .grid.gift.gift2 {
  background: url(../../asset/gift2_bg.png) 40px center, radial-gradient(circle at 50% 50%, #f39eb2, #ffbeba);
  background-repeat: no-repeat;
}
.about .grid.gift.gift2:hover {
  background: url(../../asset/gift2_bg.png) 40px center, linear-gradient(253deg, #a3a3a3, #4b4b4b);
  background-repeat: no-repeat;
}
.about .grid.gift.gift3 {
  background: url(../../asset/gift3_bg.png) 40px center, radial-gradient(circle at 50% 50%, #f39eb2, #ffbeba);
  background-repeat: no-repeat;
}
.about .grid.gift.gift3:hover {
  background: url(../../asset/gift3_bg.png) 40px center, linear-gradient(253deg, #a49164, #4a3d25);
  background-repeat: no-repeat;
}

.notice {
  position: relative;
}
@media screen and (max-width: 375px) {
  .notice {
    height: 450px;
  }
}
.notice_title {
  color: white;
  margin-top: 86px;
}
@media screen and (max-width: 375px) {
  .notice_title {
    margin-top: 24px;
  }
}
.notice_title::before {
  background: url(../../asset/cloud_left.png) no-repeat;
  margin-right: 40.5px;
  background-size: 73px 26px;
  background-position: center bottom;
}
@media screen and (max-width: 375px) {
  .notice_title::before {
    margin-right: 10px;
    background-size: 40px 14px;
  }
}
.notice_title::after {
  background: url(../../asset/cloud_right.png) no-repeat;
  margin-left: 40.5px;
  background-size: 73px 26px;
  background-position: center bottom;
}
@media screen and (max-width: 375px) {
  .notice_title::after {
    margin-left: 10px;
    background-size: 40px 14px;
  }
}
.notice_content {
  width: 1111px;
  height: 369px;
  margin-top: 100px;
  color: white;
  font-size: 28px;
  letter-spacing: 1.4px;
  line-height: 41px;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 375px) {
  .notice_content {
    width: 340px;
    height: 198px;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.6px;
    margin-top: 35px;
  }
}
.notice_content .content_group {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.notice_content .content_group .dot {
  width: 15px;
  height: 40px;
  background: url(../../asset/dot.png) no-repeat;
  background-size: 15px 15px;
  background-position: center center;
}
@media screen and (max-width: 375px) {
  .notice_content .content_group .dot {
    width: 9.8px;
    height: 18px;
    background-size: 9.8px 10px;
  }
}
.notice_content .content_group .line {
  width: calc(100% - 31px);
  padding-left: 16px;
  padding-bottom: 41px;
}
@media screen and (max-width: 375px) {
  .notice_content .content_group .line {
    padding-left: 12.74px;
  }
}
.notice_content .content_group .line:last-child {
  padding-bottom: none;
}
.notice_animation {
  width: 716px;
  height: 199px;
  background: url(../../asset/notice_animat_bg.png) no-repeat;
  background-size: 438px 199px;
  background-position: right center;
  position: relative;
  left: 155px;
  top: 47px;
}
@media screen and (max-width: 375px) {
  .notice_animation {
    width: 347px;
    height: 100px;
    background-size: 220px 100px;
    left: 0;
    top: 0;
    margin-top: 40px;
  }
}
.notice_animation .animation_group {
  width: 284px;
  height: 124px;
  position: absolute;
  left: 0;
  bottom: 25px;
}
@media screen and (max-width: 375px) {
  .notice_animation .animation_group {
    width: 129px;
    height: 27px;
  }
}
.notice_animation .animation_group .bottom {
  position: absolute;
  right: 0;
  animation: bottom_down 2.5s infinite;
}
@media screen and (max-width: 375px) {
  .notice_animation .animation_group .bottom {
    width: 20px;
    height: 56px;
    animation: none;
    transform: rotate(270deg);
    right: 18px;
    top: -5px;
  }
}
.notice_animation .animation_group .bubble {
  position: absolute;
  bottom: 0;
  opacity: 0;
  animation: bubble_show 2s 2s infinite;
}
@media screen and (max-width: 375px) {
  .notice_animation .animation_group .bubble {
    width: 76px;
    height: 17px;
    animation: none;
    opacity: 1;
    bottom: -13px;
  }
}

.register {
  height: 834px;
  background: url(../../asset/register_bg.png) no-repeat;
  background-size: cover;
}
@media screen and (max-width: 375px) {
  .register {
    height: 560px;
  }
}
.register_title {
  color: black;
  margin-top: 79px;
}
@media screen and (max-width: 375px) {
  .register_title {
    margin-top: 24px;
  }
}
.register_title::before {
  background: url(../../asset/p_cloud_left.png) no-repeat;
  margin-right: 41px;
  background-size: 73px 26px;
  background-position: center bottom;
}
@media screen and (max-width: 375px) {
  .register_title::before {
    margin-right: 10px;
    background-size: 40px 14px;
  }
}
.register_title::after {
  background: url(../../asset/p_cloud_right.png) no-repeat;
  margin-left: 40px;
  background-size: 73px 26px;
  background-position: center bottom;
}
@media screen and (max-width: 375px) {
  .register_title::after {
    margin-left: 10px;
    background-size: 40px 14px;
  }
}
.register_content {
  width: 847px;
  height: 565px;
  margin-top: 62px;
  position: relative;
}
@media screen and (max-width: 375px) {
  .register_content {
    width: 331px;
    height: 316px;
    margin-top: 52px;
  }
}
.register_content .receipt_title {
  height: 48px;
  line-height: 48px;
  font-size: 20px;
  color: #4A4A4A;
  letter-spacing: 0.6px;
}
@media screen and (max-width: 375px) {
  .register_content .receipt_title {
    font-size: 16px;
    width: 72px;
    height: 24px;
    line-height: 24px;
    text-align: center;
  }
}
.register_content .receipt {
  width: 829px;
  height: 175px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}
@media screen and (max-width: 375px) {
  .register_content .receipt {
    width: 100%;
    height: 73px;
  }
}
.register_content .receipt .receipt_input_group {
  display: flex;
  flex-direction: column;
  margin-left: 25px;
  margin-left: 8px;
}
@media screen and (max-width: 375px) {
  .register_content .receipt .receipt_input_group {
    justify-content: space-around;
  }
}
.register_content .receipt .receipt_input_group .receipt_input {
  width: 631px;
  height: 48px;
  border-radius: 100px;
  border: 1px solid #F39EB2;
  margin-bottom: 32px;
  color: #9B9B9B;
  font-size: 18px;
  text-align: center;
}
@media screen and (max-width: 375px) {
  .register_content .receipt .receipt_input_group .receipt_input {
    width: 209px;
    height: 32px;
    margin-bottom: 0;
    font-size: 12px;
  }
}
.register_content .receipt .receipt_input_group .receipt_input:first-child {
  margin-top: 0;
}
.register_content .add_receipt {
  width: 48px;
  height: 48px;
  background: url(../../asset/add_receipt.png) no-repeat;
  background-size: 48px 48px;
  position: absolute;
  right: 0;
  top: 80px;
}
@media screen and (max-width: 375px) {
  .register_content .add_receipt {
    width: 32px;
    height: 33px;
    background-size: 32px 33px;
    top: 40px;
  }
}
.register_content .check {
  width: 721px;
  height: 21px;
  font-size: 14px;
  color: #4A4A4A;
  margin-left: 117px;
}
@media screen and (max-width: 375px) {
  .register_content .check {
    width: 289px;
    height: 46px;
    font-size: 10px;
    margin-left: 25px;
    margin-top: 16px;
    line-height: 15px;
    letter-spacing: 0.3px;
  }
}
.register_content .border {
  width: 829px;
  height: 2px;
  border: 2px solid #F39EB2;
  margin: 30px 0 36px;
}
@media screen and (max-width: 375px) {
  .register_content .border {
    width: 331px;
    margin: 16px 0 24px;
  }
}
.register_content .info {
  width: 829px;
  height: 165px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
@media screen and (max-width: 375px) {
  .register_content .info {
    width: 331px;
    height: 116px;
  }
}
.register_content .info .info_group {
  display: flex;
  flex-direction: row;
}
.register_content .info .info_group.name {
  width: 361px;
  height: 48px;
}
@media screen and (max-width: 375px) {
  .register_content .info .info_group.name {
    width: 100%;
    height: 32px;
    margin-bottom: 10px;
  }
}
.register_content .info .info_group.phone {
  width: 441px;
  height: 48px;
  margin-left: 25px;
}
@media screen and (max-width: 375px) {
  .register_content .info .info_group.phone {
    width: 100%;
    height: 32px;
    margin: 0 0 10px 0;
  }
}
.register_content .info .info_group.email {
  width: 846px;
  height: 48px;
}
@media screen and (max-width: 375px) {
  .register_content .info .info_group.email {
    width: 100%;
    height: 32px;
    margin-bottom: 10px;
  }
}
.register_content .info .info_group .info_input {
  border-radius: 100px;
  border: 1px solid #F39EB2;
  color: #9B9B9B;
  font-size: 18px;
  text-align: center;
}
@media screen and (max-width: 375px) {
  .register_content .info .info_group .info_input {
    font-size: 12px;
  }
}
.register_content .info .info_group .info_input.name {
  margin-left: 25px;
  width: 253px;
}
@media screen and (max-width: 375px) {
  .register_content .info .info_group .info_input.name {
    width: 251px;
    margin-left: 8px;
  }
}
.register_content .info .info_group .info_input.phone {
  margin-left: 40px;
  width: 359px;
}
@media screen and (max-width: 375px) {
  .register_content .info .info_group .info_input.phone {
    width: 251px;
    margin-left: 8px;
  }
}
.register_content .info .info_group .info_input.email {
  margin-left: 37px;
  width: 738px;
}
@media screen and (max-width: 375px) {
  .register_content .info .info_group .info_input.email {
    width: 251px;
    margin-left: 8px;
  }
}
.register_content .send_register {
  width: 200px;
  height: 56px;
  border-radius: 65px;
  background: #F39EB2;
  border: 1px solid #F39EB2;
  color: white;
  font-size: 18px;
  margin: 100px auto 0;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 375px) {
  .register_content .send_register {
    width: 181px;
    height: 36px;
    margin-top: 40px;
    font-size: 14px;
  }
}

.product {
  position: relative;
}
@media screen and (max-width: 375px) {
  .product {
    height: 560px;
  }
}
.product_title {
  margin-top: 90px;
  color: white;
}
@media screen and (max-width: 375px) {
  .product_title {
    margin-top: 24px;
  }
}
.product_title::before {
  background: url(../../asset/cloud_left.png) no-repeat;
  margin-right: 41px;
  background-size: 73px 26px;
  background-position: center bottom;
}
@media screen and (max-width: 375px) {
  .product_title::before {
    margin-right: 10px;
    background-size: 40px 14px;
  }
}
.product_title::after {
  background: url(../../asset/cloud_right.png) no-repeat;
  margin-left: 40px;
  background-size: 73px 26px;
  background-position: center bottom;
}
@media screen and (max-width: 375px) {
  .product_title::after {
    margin-left: 10px;
    background-size: 40px 14px;
  }
}
.product_group {
  width: 1070px;
  height: 732px;
  margin: 0 auto;
}
@media screen and (max-width: 375px) {
  .product_group {
    width: 360px;
    height: 478px;
    margin-top: 13px;
  }
}
.product_group .product_list {
  width: 100%;
  height: 204px;
  display: flex;
  flex-direction: row;
}
@media screen and (max-width: 375px) {
  .product_group .product_list {
    height: 77px;
  }
}
.product_group .product_list .item_group {
  width: 204px;
  height: 204px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 375px) {
  .product_group .product_list .item_group {
    width: 70px;
    height: 77px;
  }
}
.product_group .product_list .item_group .item {
  width: 130px;
  height: 130px;
  cursor: pointer;
}
@media screen and (max-width: 375px) {
  .product_group .product_list .item_group .item {
    width: 70px;
    height: 70px;
  }
}
.product_group .product_list .item_group .item.item1 {
  background: url(../../asset/product_item1.png) no-repeat;
  background-size: 50%;
  background-position: center center;
}
@media screen and (max-width: 375px) {
  .product_group .product_list .item_group .item.item1 {
    background-size: 38px 54px;
  }
}
.product_group .product_list .item_group .item.item2 {
  background: url(../../asset/product_item2.png) no-repeat;
  background-size: 92px 92px;
  background-position: center center;
}
@media screen and (max-width: 375px) {
  .product_group .product_list .item_group .item.item2 {
    background-size: 50px 49px;
  }
}
.product_group .product_list .item_group .item.item3 {
  background: url(../../asset/product_item3.png) no-repeat;
  background-size: 62px 96px;
  background-position: center center;
}
@media screen and (max-width: 375px) {
  .product_group .product_list .item_group .item.item3 {
    background-size: 31px 66px;
  }
}
.product_group .product_list .item_group .item.item4 {
  background: url(../../asset/product_item4.png) no-repeat;
  background-size: 67px 104px;
  background-position: center center;
}
@media screen and (max-width: 375px) {
  .product_group .product_list .item_group .item.item4 {
    background-size: 35px 53px;
  }
}
.product_group .product_list .item_group .item.item5 {
  background: url(../../asset/product_item5.png) no-repeat;
  background-size: 77px 95px;
  background-position: center center;
}
@media screen and (max-width: 375px) {
  .product_group .product_list .item_group .item.item5 {
    background-size: 40px 49px;
  }
}
.product_group .product_content {
  width: 100%;
  height: 492px;
  display: flex;
  flex-direction: row;
  position: relative;
}
@media screen and (max-width: 375px) {
  .product_group .product_content {
    height: 390px;
    margin-top: 11px;
    flex-direction: column;
  }
}
.product_group .product_content .product_section_title {
  display: none;
}
@media screen and (max-width: 375px) {
  .product_group .product_content .product_section_title {
    display: block;
    font-size: 18px;
    height: 27px;
    color: white;
    text-align: center;
    letter-spacing: 0.9px;
  }
}
.product_group .product_content .product_des {
  width: 410px;
  height: 379px;
  margin-top: 74px;
}
@media screen and (max-width: 375px) {
  .product_group .product_content .product_des {
    width: 332px;
    height: 110px;
    margin: 32px auto 0;
    order: 1;
  }
}
.product_group .product_content .product_des .des_text {
  width: 410px;
  height: auto;
  color: white;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 375px) {
  .product_group .product_content .product_des .des_text {
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
  }
}
.product_group .product_content .product_des .des_text h2 {
  font-size: 28px;
  letter-spacing: 1.4px;
  font-weight: 500;
}
@media screen and (max-width: 375px) {
  .product_group .product_content .product_des .des_text h2 {
    display: none;
  }
}
.product_group .product_content .product_des .des_text h3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 29px;
  padding-top: 29px;
}
@media screen and (max-width: 375px) {
  .product_group .product_content .product_des .des_text h3 {
    font-size: 12px;
    padding-top: 0;
    line-height: 18px;
  }
}
.product_group .product_content .product_des .des_text p {
  font-size: 18px;
  line-height: 27px;
}
@media screen and (max-width: 375px) {
  .product_group .product_content .product_des .des_text p {
    font-size: 12px;
    line-height: 18px;
  }
}
.product_group .product_content .product_des .des_spec {
  width: 360px;
  height: 75px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 39px;
}
@media screen and (max-width: 375px) {
  .product_group .product_content .product_des .des_spec {
    width: 190px;
    height: 40px;
    margin: 16px auto 0;
  }
}
.product_group .product_content .product_des .des_spec .spec_item {
  width: 74px;
  height: 74px;
}
@media screen and (max-width: 375px) {
  .product_group .product_content .product_des .des_spec .spec_item {
    width: 40px;
    height: 40px;
  }
}
.product_group .product_content .product_des .des_spec .spec_item img {
  width: 100%;
  height: 100%;
}
.product_group .product_content .product_img {
  width: 290px;
  height: 490px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 61px;
}
@media screen and (max-width: 375px) {
  .product_group .product_content .product_img {
    width: 200px;
    height: 200px;
    margin: 20px auto 0;
  }
}
.product_group .product_content .product_img .item1 {
  width: 184px;
  height: 490px;
}
@media screen and (max-width: 375px) {
  .product_group .product_content .product_img .item1 {
    width: 76px;
    height: 200px;
  }
}
.product_group .product_content .product_img .item5 {
  width: 283px;
  height: 453px;
}
.product_group .product_content .arrow_group .arrow {
  width: 36px;
  height: 74px;
  position: absolute;
}
.product_group .product_content .arrow_group .arrow.right {
  right: 0;
  top: 50%;
}
.product_group .product_content .product_type {
  width: 163px;
  height: 126px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-grow: 1;
  align-self: flex-end;
  text-align: right;
  margin-bottom: 40px;
}
@media screen and (max-width: 375px) {
  .product_group .product_content .product_type {
    display: none;
  }
}
.product_group .product_content .product_type .type_item {
  width: 100%;
  height: 27px;
  color: white;
  line-height: 27px;
  font-size: 12px;
}
.product_group .product_content .product_type .type_item.chose {
  font-size: 18px;
}
.product_group .product_content .product_type .type_item.chose::after {
  background: url(../../asset/type_chose.png) no-repeat;
  background-size: 22px 22px;
  background-position: center 5px;
}
.product_group .product_content .product_type .type_item::after {
  width: 22px;
  height: 27px;
  content: "";
  display: inline-block;
  background: url(../../asset/type_origin.png) no-repeat;
  background-size: 16px 16px;
  background-position: center bottom;
  margin-left: 10px;
}

.sale {
  height: 474px;
  background: url(../../asset/register_bg.png) no-repeat;
  background-size: cover;
}
.sale_title {
  margin-top: 80px;
}
@media screen and (max-width: 375px) {
  .sale_title {
    margin-top: 24px;
  }
}
.sale_title::before {
  background: url(../../asset/p_cloud_left.png) no-repeat;
  margin-right: 41px;
  background-size: 73px 26px;
  background-position: center bottom;
}
@media screen and (max-width: 375px) {
  .sale_title::before {
    margin-right: 10px;
    background-size: 40px 14px;
  }
}
.sale_title::after {
  background: url(../../asset/p_cloud_right.png) no-repeat;
  margin-left: 40px;
  background-size: 73px 26px;
  background-position: center bottom;
}
@media screen and (max-width: 375px) {
  .sale_title::after {
    margin-left: 10px;
    background-size: 40px 14px;
  }
}
.sale_content {
  width: 907px;
  height: 149px;
  background: url(../../asset/sale_logo.png) no-repeat;
  background-size: 899px 136px;
  margin-top: 80px;
}
@media screen and (max-width: 375px) {
  .sale_content {
    width: 298px;
    height: 345px;
    background: url(../../asset/m_sale_logo.png) no-repeat;
    background-size: 298px 317px;
    margin-top: 31px;
  }
}

.winners {
  position: relative;
  overflow: hidden;
}
@media screen and (max-width: 375px) {
  .winners {
    height: 560px;
  }
}
.winners.is-active {
  height: 2341px;
}
@media screen and (max-width: 375px) {
  .winners.is-active {
    height: 1304px;
  }
}
.winners.is-active .winners_content {
  height: 2019px;
}
@media screen and (max-width: 375px) {
  .winners.is-active .winners_content {
    height: 1251px;
  }
}
.winners_title {
  color: white;
  margin-top: 93px;
}
@media screen and (max-width: 375px) {
  .winners_title {
    margin-top: 24px;
  }
}
.winners_title::before {
  background: url(../../asset/cloud_left.png) no-repeat;
  margin-right: 41px;
  background-size: 73px 26px;
  background-position: center bottom;
}
@media screen and (max-width: 375px) {
  .winners_title::before {
    margin-right: 10px;
    background-size: 40px 14px;
  }
}
.winners_title::after {
  background: url(../../asset/cloud_right.png) no-repeat;
  margin-left: 40px;
  background-size: 73px 26px;
  background-position: center bottom;
}
@media screen and (max-width: 375px) {
  .winners_title::after {
    margin-left: 10px;
    background-size: 40px 14px;
  }
}
.winners_content {
  width: 1062px;
  height: auto;
}
@media screen and (max-width: 375px) {
  .winners_content {
    width: 348px;
  }
}
.winners_content .not_open {
  width: 100%;
  height: 454px;
  margin-top: 144px;
}
@media screen and (max-width: 375px) {
  .winners_content .not_open {
    width: 347px;
    height: 287px;
  }
}
.winners_content .not_open .content_des {
  width: 344px;
  height: 120px;
  margin: 0 auto;
  color: white;
  line-height: 40px;
  font-size: 27px;
  letter-spacing: 1.6px;
  text-align: center;
}
@media screen and (max-width: 375px) {
  .winners_content .not_open .content_des {
    width: 178px;
    height: 60px;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.8px;
  }
}
.winners_content .not_open .content_bg {
  width: 716px;
  height: 200px;
  margin: 134px auto 0;
}
@media screen and (max-width: 375px) {
  .winners_content .not_open .content_bg {
    width: 347px;
    height: 100px;
    margin-top: 127px;
  }
}
.winners_content .not_open .content_bg img {
  width: 100%;
  height: 100%;
}
.winners_content .open {
  display: none;
  width: 100%;
  height: 2019px;
  margin-top: 72px;
}
@media screen and (max-width: 375px) {
  .winners_content .open {
    height: 1227px;
    margin-top: 24px;
  }
}
.winners_content .open .winners_group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  border-radius: 10px;
}
.winners_content .open .winners_group:last-child {
  margin-bottom: 0;
}
.winners_content .open .winners_group.group1 {
  height: 516px;
  background: linear-gradient(253deg, #ffbb00, #c28e00);
}
@media screen and (max-width: 375px) {
  .winners_content .open .winners_group.group1 {
    height: 196px;
  }
}
.winners_content .open .winners_group.group1 .gift1 {
  height: 332px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background: url(../../asset/gift1_bg.png) 40px center, url(../../asset/gift1_bg.png) 40px center, linear-gradient(253deg, #ffbb00, #c28e00);
}
@media screen and (max-width: 375px) {
  .winners_content .open .winners_group.group1 .gift1 {
    height: 108px;
  }
}
.winners_content .open .winners_group.group2 {
  height: 609px;
  background: linear-gradient(253deg, #a3a3a3, #4b4b4b);
}
@media screen and (max-width: 375px) {
  .winners_content .open .winners_group.group2 {
    height: 334px;
  }
}
.winners_content .open .winners_group.group2 .gift2 {
  height: 332px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background: url(../../asset/gift2_bg.png) 40px center, linear-gradient(253deg, #a3a3a3, #4b4b4b);
  background-repeat: no-repeat;
}
@media screen and (max-width: 375px) {
  .winners_content .open .winners_group.group2 .gift2 {
    height: 108px;
  }
}
.winners_content .open .winners_group.group3 {
  height: 882px;
  background: linear-gradient(253deg, #a49164, #4a3d25);
}
@media screen and (max-width: 375px) {
  .winners_content .open .winners_group.group3 {
    height: 598px;
  }
}
.winners_content .open .winners_group.group3 .gift3 {
  height: 332px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background: url(../../asset/gift3_bg.png) 40px center, linear-gradient(253deg, #a49164, #4a3d25);
  background-repeat: no-repeat;
}
@media screen and (max-width: 375px) {
  .winners_content .open .winners_group.group3 .gift3 {
    height: 108px;
  }
}
.winners_content .open .winners_list {
  background: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  width: calc(100% - 12px);
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.winners_content .open .winners_list .list_title {
  width: 884px;
  text-align: center;
  color: #4A4A4A;
  line-height: 36px;
  letter-spacing: 0.5px;
  padding-bottom: 11px;
  border-bottom: 2px solid;
  margin-top: 19px;
}
@media screen and (max-width: 375px) {
  .winners_content .open .winners_list .list_title {
    width: 330px;
    font-size: 12px;
    line-height: 18px;
    margin-top: 8px;
    padding-bottom: 4px;
  }
}
.winners_content .open .winners_list.list1 {
  height: 178px;
}
@media screen and (max-width: 375px) {
  .winners_content .open .winners_list.list1 {
    height: 82px;
  }
}
.winners_content .open .winners_list.list2 {
  height: 271px;
}
@media screen and (max-width: 375px) {
  .winners_content .open .winners_list.list2 {
    height: 220px;
  }
}
.winners_content .open .winners_list.list3 {
  height: 544px;
}
@media screen and (max-width: 375px) {
  .winners_content .open .winners_list.list3 {
    height: 484px;
  }
}
.winners_content .open .winners_list .list_content {
  width: 884px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
@media screen and (max-width: 375px) {
  .winners_content .open .winners_list .list_content {
    width: 330px;
  }
}
.winners_content .open .winners_list .list_content.list1 {
  height: 72px;
}
.winners_content .open .winners_list .list_content.list2 {
  height: 144px;
}
.winners_content .open .winners_list .list_content.list3 {
  height: 432px;
}
.winners_content .open .winners_list .list_content .winners_content {
  height: 53px;
  margin: 19px auto 0;
  display: flex;
  flex-basis: 20%;
}
@media screen and (max-width: 375px) {
  .winners_content .open .winners_list .list_content .winners_content {
    flex-basis: 33.33%;
    margin-top: 7px;
    height: 32px;
  }
}
.winners_content .open .winners_list .list_content .winners_content .winners_group {
  width: 150px;
  height: 53px;
  text-align: center;
  margin: 0 auto;
  letter-spacing: 0.34px;
}
@media screen and (max-width: 375px) {
  .winners_content .open .winners_list .list_content .winners_content .winners_group {
    width: 68px;
    height: 32px;
  }
}
.winners_content .open .winners_list .list_content .winners_content .winners_name {
  font-size: 18px;
  line-height: 27px;
}
@media screen and (max-width: 375px) {
  .winners_content .open .winners_list .list_content .winners_content .winners_name {
    font-size: 10px;
    line-height: 15px;
  }
}
.winners_content .open .winners_list .list_content .winners_content .winners_tel {
  font-size: 16px;
  line-height: 24px;
}
@media screen and (max-width: 375px) {
  .winners_content .open .winners_list .list_content .winners_content .winners_tel {
    font-size: 10px;
    line-height: 15px;
  }
}
.winners .totop {
  width: 50px;
  height: 50px;
  background: url(../../asset/totop.png) no-repeat;
  background-size: 50px 50px;
  position: absolute;
  bottom: 15px;
  right: 80px;
  cursor: pointer;
}
@media screen and (max-width: 375px) {
  .winners .totop {
    bottom: 10px;
    right: calc((100% - 50px) / 2);
  }
}

footer {
  height: 98px;
  background: #4A4A4A;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 80px 0 40px;
}
@media screen and (max-width: 375px) {
  footer {
    height: 300px;
    flex-direction: column;
    padding: 31px 10px 45px;
  }
}
footer .logo {
  width: 102px;
  height: 40px;
  background: url(../../asset/logo.png) no-repeat;
  background-size: 102px 40px;
}
@media screen and (max-width: 375px) {
  footer .logo {
    order: 2;
  }
}
footer .company {
  width: 588px;
  height: 47px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
@media screen and (max-width: 375px) {
  footer .company {
    width: 95%;
    order: 2;
  }
}
footer .company .company_name, footer .company .company_copyright {
  text-align: center;
  color: white;
}
footer .company .company_name {
  font-size: 16px;
}
@media screen and (max-width: 375px) {
  footer .company .company_name {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 14px;
  }
}
footer .company .company_copyright {
  font-size: 14px;
}
@media screen and (max-width: 375px) {
  footer .company .company_copyright {
    font-size: 12px;
    line-height: 18px;
  }
}
footer .social {
  width: 103px;
  height: 44px;
  display: flex;
  flex-direction: row;
}
footer .social_icon {
  width: 44px;
  height: 44px;
  cursor: pointer;
}
footer .social_icon.fb {
  background: url(../../asset/facebook-icon.png) no-repeat;
  background-size: 44px 44px;
}
footer .social_icon.mail {
  background: url(../../asset/mail-icon.png) no-repeat;
  background-size: 44px 44px;
  margin-left: 15px;
}
